<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">

    <div class="slider-item" style="background-image: url(images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">@Localizer["Welcome"]</span>
                    <h1 class="mb-4">@Localizer["Activity"]</h1>
                    <p class="mb-4 mb-md-5">@Localizer["ImportExport"]</p>
                    <p class="mb-4 mb-md-5">@Localizer["RetailWholesale"]</p>
                    <p class="mb-4 mb-md-5">@Localizer["Service"]</p>
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Our offer (todo)</a></p>
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">@Localizer["Welcome"]</span>
                    <h1 class="mb-4">@Localizer["OurPortfolio"]</h1>
                    <p class="mb-4 mb-md-5">@Localizer["MetalworkingMachines"]</p>
                    <p class="mb-4 mb-md-5">@Localizer["EngineeringProducts"]</p>
                    <p class="mb-4 mb-md-5">@Localizer["SpareParts"]</p>
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Our offer (todo)</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("AboutSummary")