@model Enginex.Application.Products.Queries.ProductViewModel

<section class="ftco-menu">
    <div class="container-fluid">
        <div class="row d-md-flex">
            <div class="col-lg-5 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url('@Url.Content(Model.ImagePath)');">
            </div>
            <div class="col-lg-7 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center">
                        <div class="w-100 tab-content ftco-animate" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                    <div class="menu-wrap">
                                        <div class="text w-100">
                                            <h2 class="text-center">@Model.Name</h2>
                                            <div class="row">
                                                <div class="col-3"><p>Type:</p></div>
                                                <div class="col float-left"><p>@Model.Type</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3"><p>Description:</p></div>
                                                <div class="col float-left"><p>@Model.Description</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-lg-5 ftco-animate">
                                        <h4 class="mb-3">@Localizer["Viac info"]</h4>
                                        <form action="#" class="contact-form">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="@Localizer["YourEmail"]">
                                            </div>
                                            <div class="form-group">
                                                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="@Localizer["Message"]"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="@Localizer["Send"]" class="btn btn-white btn-outline-white">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>