@using Enginex.Web.Components
@model Enginex.Application.Products.Queries.ProductsListDto

<section class="ftco-section ftco-menu">

    @await Component.InvokeAsync(nameof(CategoryMenu))

    <div class="container-wrap">
        <div class="row no-gutters d-flex">

            @for (var i = 0; i < Model.Products.Count; i++)
            {
                var product = Model.Products[i];
                var isRightAlligned = i % 6 > 2;

                <div class="col-lg-4 d-flex ftco-animate">
                    <div class="services-wrap d-flex">
                        <a asp-action="Detail" asp-route-id="@product.Id" 
                           class="img @(isRightAlligned ? "order-lg-last" : "")" style="background-image: url('@Url.Content(product.ImagePath)');"></a>
                        <div class="text p-4">
                            <h3>@product.Name</h3>
                            <p>@Localizer["Type"]: @product.Type</p>
                            <p><a asp-action="Detail" asp-route-id="@product.Id" class="ml-2 btn btn-white btn-outline-white">Detail</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>