@using Enginex.Web.Components

<section class="ftco-section ftco-menu">

    @await Component.InvokeAsync(nameof(CategoryMenu))

    <div class="container-wrap">
        <div class="row no-gutters d-flex">
            <div class="col-lg-4 d-flex ftco-animate">
                <div class="services-wrap d-flex">
                    <a href="#" class="img" style="background-image: url('@Url.Content("~/images/02.jpg")');"></a>
                    <div class="text p-4">
                        <h3>Frezka vertikalna</h3>
                        <p>Typ: FA 4 V; Rok vyroby: 1980</p>
                        <p><a href="#" class="ml-2 btn btn-white btn-outline-white">Detail</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex ftco-animate">
                <div class="services-wrap d-flex">
                    <a href="#" class="img" style="background-image: url('@Url.Content("~/images/03.jpg")');"></a>
                    <div class="text p-4">
                        <h3>Bruska na otvory</h3>
                        <p>Typ: Si 125x175</p>
                        <p><a href="#" class="ml-2 btn btn-white btn-outline-white">Detail</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex ftco-animate">
                <div class="services-wrap d-flex">
                    <a href="#" class="img" style="background-image: url('@Url.Content("~/images/04.jpg")');"></a>
                    <div class="text p-4">
                        <h3>Bruska na zavity</h3>
                        <p>Typ: 5822 M</p>
                        <p><a href="#" class="ml-2 btn btn-white btn-outline-white">Detail</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-flex ftco-animate">
                <div class="services-wrap d-flex">
                    <a href="#" class="img order-lg-last" style="background-image: url('@Url.Content("~/images/05.jpg")');"></a>
                    <div class="text p-4">
                        <h3>Bruska rovinna</h3>
                        <p>Typ: BLOHM HFS 9</p>
                        <p><a href="#" class="ml-2 btn btn-white btn-outline-white">Detail</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex ftco-animate">
                <div class="services-wrap d-flex">
                    <a href="#" class="img order-lg-last" style="background-image: url('@Url.Content("~/images/06.jpg")');"></a>
                    <div class="text p-4">
                        <h3>Tabulove noznice</h3>
                        <p>Typ: CNTA 3150/10</p>
                        <p><a href="#" class="ml-2 btn btn-white btn-outline-white">Detail</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex ftco-animate">
                <div class="services-wrap d-flex">
                    <a href="#" class="img order-lg-last" style="background-image: url('@Url.Content("~/images/07.jpg")');"></a>
                    <div class="text p-4">
                        <h3>Ohybacka plechu</h3>
                        <p>Typ: CIDAN K 25-20</p>
                        <p><a href="#" class="ml-2 btn btn-white btn-outline-white">Detail</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>