@{ ViewBag.Title = Localizer["Title"].Value; }

<section>
    <div class="container mt-5">
        <div class="row block-9">
            <div class="col-lg-12 ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h3>@Localizer["Error"]</h3>
                    </div>
                </div>
                <div class="mb-5">
                    <span>@Localizer["ErrorDescription"]</span><br /><br />
                    <span class="text-danger">@ViewBag.ErrorMessage</span><br /><br />
                    <span>@Localizer["ErrorSupportNotified"] <a asp-controller="Home" asp-action="Index">@Localizer["GoToHomePage"]</a></span>
                </div>
            </div>
        </div>
    </div>
</section>